<h1>You've added a contact!</h1>
<h2>Your contact's name is <%= @new_contact.first_name %> <%= @new_contact.last_name %>.</h2>
<h2>Your contact's email is <%= @new_contact.email %>.</h2>
<h2>Your contact's phone number is <%= @new_contact.phone %>.</h2>
