<h1>All Contacts:</h1>

<table>
  <tr>
    <th>First Name</td>
    <th>Last Name</td>
    <th>Email</td>
    <th>Phone</td>
  </tr>
<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.first_name %></td>
    <td><%= contact.last_name %></td>
    <td><%= contact.email %></td>
    <td><%= contact.phone %></td>
  </tr>
<% end %>
</table>