<h1>Your first contact is:</h1>
<h2><%= @first_contact.first_name %> <%= @first_contact.last_name %></h2>
<p><strong>E-mail:</strong> <%= @first_contact.email %></p>
<p><strong>Phone:</strong> <%= @first_contact.phone %></p>

<p><a href="/display_all">Display All</a></p>
<p><a href="/create_contact">Create a Contact</a></p>